<div class="hero-page">
    <div class="background"></div>

    <!-- Nav bar -->
    <div class="navbar">
        <div class="logo">
            <img src="/logo.png" alt="Logo" />
            <span class="site-name">FoodFront</span>
        </div>
        <ul class="nav-items">
            <li class="nav-item">HOME</li>
            <li class="nav-item">CONTACT</li>
            <button class="btn-booking">Book a table</button>
        </ul>
    </div>
    
    <!-- Main content -->
    <div class="main-content">
        <div class="content-left">
            <h1>Enjoy Our Delicious Meal</h1>
            <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam
                amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita
                duo justo magna dolore erat amet</p>
            <button class="btn-booking">Book a table</button>
        </div>
        <div class="content-right">
            <img src="/hero.png" alt="Logo" class="hero"/>
        </div>
    </div>
     
</div>
