<section class="features-section">
    <div class="tile">
        <img src="/person.png" alt="Logo"/>

        <h3 class="feature-heading">Master Chefs</h3>
        <p class="feature-text">Diam elitr kasd sed at elitr
            sed ipsum justo dolor sed
            clita amet diam</p>


    </div>
    <div class="tile">
        <img src="/fork.png" alt="Logo" class="hero"/>

        <h3 class="feature-heading">Quality Food</h3>
        <p class="feature-text">Diam elitr kasd sed at elitr
            sed ipsum justo dolor sed
            clita amet diam</p>


    </div>
    <div class="tile">
        <img src="/cart.png" alt="Logo" class="hero"/>

        <h3 class="feature-heading">Online Order</h3>
        <p class="feature-text">Diam elitr kasd sed at elitr
            sed ipsum justo dolor sed
            clita amet diam</p>


    </div>
    <div class="tile">
        <img src="/headset.png" alt="Logo" class="hero"/>

        <h3 class="feature-heading">24/7 Service</h3>
        <p class="feature-text">Diam elitr kasd sed at elitr
            sed ipsum justo dolor sed
            clita amet diam</p>


    </div>
</section>